body {
	height: 2000px;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.title-main {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	text-align: center;
	margin-bottom: 50px;
	color: #553399;
}

.text-intro	{
	position: relative;
	margin: 0 auto 50px auto;
	text-align: center;
	max-width: 600px;
}

.max-width {
	position: relative;
	margin: 0 auto;
	max-width: 600px;
}

.code {
	background-color: #e5e5e5;
	border-radius: 10px;
}

/* Scratch */
.scratch_container {
	position: relative;
	margin: 0 auto;
	max-width: 1024px;
}

.scratch_viewport {
	position: relative;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	z-index: 0;
}

.scratch_picture-under {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: -1;
}

.scratch_container canvas {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;
}