* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  position: relative;
  min-height: 100%;
  height: auto;
}

#js--scratchcard--container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  border: 1px solid black;
  user-select: none;
}

#js--scratchcard--container:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

#js--scratchcard--container canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#js--scratchcard--container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  user-select: none;
}

#js-debug-cursor {
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  width: 50px;
  height: 50px;
  z-index: 99;
  will-change: transform;
  transition-duration: 300ms;
}